<h2 class="delete is-large" mat-dialog-close></h2>
<mat-dialog-content>
    <div class="columns" *ngIf="userAnalytics && userAnalytics.totalTimesViewed > 0">
        <div class="column is-full"></div>
        <div class="column is-4">
            <div class="box box-shadow">
                Viewed: <h2 class="title">{{userAnalytics.totalTimesViewed}} times</h2>
            </div>
        </div>
        <div class="column is-4">
            <div class="box box-shadow">
                Time Spent: <h2 class="title">{{secondsToHms(userAnalytics.totalTimeSpent)}}</h2>
            </div>
        </div>
        <div class="column is-4">
            <div class="box box-shadow">
                Time Spent (Avg): <h2 class="title">{{secondsToHms(userAnalytics.avgTimeSpent)}}</h2>
            </div>
        </div>
        <div class="column is-4" *ngIf="userAnalytics.totalTimesPlayed > 0">
            <div class="box box-shadow">
                Video Played: <h2 class="title">{{userAnalytics.totalTimesPlayed}} times</h2>
            </div>
        </div>
        <div class="column is-4" *ngIf="userAnalytics.totalTimesPlayed > 0">
            <div class="box box-shadow">
                Watch Time: <h2 class="title">{{secondsToHms(userAnalytics.totalWatchTime)}}</h2>
            </div>
        </div>
        <div class="column is-4" *ngIf="userAnalytics.totalTimesPlayed > 0">
            <div class="box box-shadow">
                Watch Time (Avg): <h2 class="title">{{secondsToHms(userAnalytics.avgWatchTime)}}</h2>
            </div>
        </div>
        <div class="column is-4" *ngIf="userAnalytics.totalDownloads > 0">
            <div class="box box-shadow">
                Watch Time (Avg): <h2 class="title">{{userAnalytics.totalDownloads}}</h2>
            </div>
        </div>
        <div class="column is-full"></div>
        <div class="column is-full" *ngIf="userAnalytics.dateViewed.length > 0">
            <h4 class="title is-4">Views in the last 30 days</h4>
            <canvas baseChart
                [datasets]="lineChartDataViewed"
                [labels]="lineChartLabelsViewed"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [chartType]="'line'">
            </canvas>
        </div>
        <div class="column is-full" *ngIf="userAnalytics.datePlayed.length > 0">
            <h4 class="title is-4">Video played in the last 30 days</h4>
            <canvas baseChart
                [datasets]="lineChartDataPlayed"
                [labels]="lineChartLabelsPlayed"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [chartType]="'line'">
            </canvas>
        </div>
    </div>
    <div class="columns is-mobile">
        <div class="column" *ngIf="usersNotViewed.length > 0">
            <div class="box box-btn" [ngClass]="notViewedSelected ? 'box-shadow' : 'box-hover'" (click)="toggleNotViewed('viewed')">
                Not Viewed
            </div>
        </div>
        <div class="column" *ngIf="usersNotWatched.length > 0">
            <div class="box box-btn" [ngClass]="notWatchedSelected ? 'box-shadow' : 'box-hover'" (click)="toggleNotViewed('watched')">
                Not Watched
            </div>
        </div>
        <div class="column" *ngIf="usersNotDownloaded.length > 0">
            <div class="box box-btn" [ngClass]="notDownloadedSelected ? 'box-shadow' : 'box-hover'" (click)="toggleNotViewed('downloaded')">
                Not Downloaded
            </div>
        </div>
    </div>
    <section class="section"  *ngIf="loading">
        <span class="title is-1 loader"></span>
    </section>
    <section class="section has-text-centered" *ngIf="!loading && (!allUsers || allUsers.length === 0)">
        No data available<br>
    </section>
    <div *ngIf="allUsers && allUsers.length > 0">
        <div class="field">
            <div class="control has-icons-left">
                <input class="input is-link" type="text" (keyup)="applyFilter($event)" placeholder="Search" #input />
                <span class="icon is-left">
                    <fa-icon [icon]="faSearch" size="sm" class="fa-primary"></fa-icon>
                </span>
            </div>
        </div>
        <table mat-table [dataSource]="tableData">
            <ng-container matColumnDef="User Details">
                <td mat-cell *matCellDef="let row">
                    <div class="columns is-vcentered is-mobile">
                        <div class="column">
                            <div class="content is-small">
                                {{row.name}}
                                <br *ngIf="row.name">{{row.email}}
                                <br *ngIf="row.email">{{row.phone && row.phone !== '0' ? row.phone : ''}}
                            </div>
                        </div>
                        <div class="column">
                            <a class="tag is-pulled-right" (click)="sendMessage(row.uid)">
                                <span class="icon">
                                    <fa-icon [icon]="faMessage" size="sm" class="fa-primary"></fa-icon>
                                </span>
                            </a>
                            <div *ngIf="row.loading" class="loader"></div>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator [pageSize]="5" [length]="tableData.data.length"></mat-paginator>
    </div>
</mat-dialog-content>