.card-content {
    padding-left: 0;
}

.image.is-2by1 {
    padding-top: 0;
}

.card-footer {
  justify-content: flex-end;
}

.button {
  margin: 1em;
  margin-right: 0;
}

.previewUrl {
  max-height: 200px;
}
