<h1 class="title is-1 loader" *ngIf="componentLoading"></h1>
<div class="content" *ngIf="!componentLoading">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="field" *ngIf="mode === 'signIn'">
            <div class="control">
                <input class="input" formControlName="name" type="text" placeholder="Full Name">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" formControlName="password" type="password" placeholder="Password" [ngClass]="setPasswordControls.password.touched && setPasswordControls.password.invalid ? 'is-danger' : ''">
                <span class="is-size-7 has-text-danger" *ngIf="setPasswordControls.password.touched && setPasswordControls.password.invalid">Password should have minimum 8 characters
                <br>At least 1 uppercase letter, 1 lowercase letter, 1 symbol and 1 number</span>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" formControlName="confirmPassword" type="password" placeholder="Confirm password">
            </div>
        </div>
        <p><button type="submit" class="button is-fullwidth is-link" [ngClass]="{'is-loading': loading}">Set</button></p>
    </form>
</div>