<div class="hero is-fullheight hero-pattern">
    <span class="stars is-overlay"></span>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-half">
                    <h1 class="title is-1 has-text-weight-bold">
                        Prolr is an add-on for your Institution
                    </h1>
                    <h2 class="subtitle">
                        With Prolr, you can manage class materials, share them with your students and get realtime analytics.
                    </h2>
                    <button class="button is-large is-link" (click)="navigate()">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hero secondary-bg">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h2 class="title has-text-weight-bold">Get started in 3 steps!</h2>
            <div class="columns">
                <div class="column is-one-third">
                    <div class="box card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <fa-icon [icon]="faDoor" class="fa-primary is-overlay is-vh-centered" size="7x"></fa-icon>
                            </figure>
                        </div>
                        <div class="content has-text-centered">
                            Create Course / Subject
                        </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="box card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <fa-icon [icon]="faUpload" class="fa-primary is-overlay is-vh-centered" size="7x"></fa-icon>
                            </figure>
                        </div>
                        <div class="content has-text-centered">
                            Upload Content
                        </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="box card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <fa-icon [icon]="faMobile" class="fa-primary is-overlay is-vh-centered" size="7x"></fa-icon>
                            </figure>
                        </div>
                        <div class="content has-text-centered">
                            Give access to your students
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-half">
                    <h1 class="title is-2 has-text-weight-bold">
                        Create courses and subjects
                    </h1>
                    <h2 class="subtitle">
                        In Prolr, courses are much like folders where you can create it in infinite depth and subjects are containers of your content
                    </h2>
                </div>
                <div class="column">
                    <img src="{{coursesImage}}"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-half">
                    <img src="{{usersImage}}"/>
                </div>
                <div class="column">
                    <h1 class="title is-2 has-text-weight-bold">
                        Manage users and roles
                    </h1>
                    <h2 class="subtitle">
                        Prolr has 3 types of roles:
                        <br>Admin, Teacher & Student
                    </h2>
                    <div class="content is-size-7">
                        Admins can create courses, subjects and content and manage permissions to them. 
                        <br>Teachers are only allowed to create content to their respective subjects.
                        <br>Students are only allowed to see that the admins have given access to.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-half">
                    <h1 class="title is-2 has-text-weight-bold">
                        Share content and get realtime analytics
                    </h1>
                    <h2 class="subtitle">
                        Students get access to your content as soon as you post them and you'll get to know the analytics.
                    </h2>
                </div>
                <div class="column">
                    <img src="{{realtimeImage}}" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hero is-medium is-bold is-link">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column is-full">
                    <h1 class="title is-2 has-text-weight-bold has-text-white">Increase your Institute productivity</h1>
                </div>
                <div class="column is-full">
                    <button class="button is-large is-link is-inverted is-outlined" (click)="navigate()">Get Started</button><br>
                </div>
            </div>
        </div>
    </div>
</div>