.hero-pattern {
    background-color: var(--bg-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    transition: var(--transition-speed-sm);
    transform: translateX(1.5%);
    /* background by SVGBackgrounds.com */
}

.hero-image {
    background-color: var(--bg-color);
    background-attachment: fixed;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    transition: var(--transition-speed-sm);
}

.stars {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' viewBox='0 0 1600 900' width='1600' height='900'%3E%3Cdefs%3E%3Cpath d='M58.14 62.78L60.21 62.78L60.21 64.85L58.14 64.85L58.14 62.78Z' id='g1tZJhwf1J'%3E%3C/path%3E%3Cpath d='M227.14 252.78L229.21 252.78L229.21 254.85L227.14 254.85L227.14 252.78Z' id='a6t1aOnBIB'%3E%3C/path%3E%3Cpath d='M1073.11 82.28L1075.18 82.28L1075.18 84.35L1073.11 84.35L1073.11 82.28Z' id='b25hBKJUfT'%3E%3C/path%3E%3Cpath d='M853.11 113.85L855.18 113.85L855.18 115.91L853.11 115.91L853.11 113.85Z' id='b24PpjP5x'%3E%3C/path%3E%3Cpath d='M341.14 175.78L343.21 175.78L343.21 177.85L341.14 177.85L341.14 175.78Z' id='aEnRHqgNB'%3E%3C/path%3E%3Cpath d='M962.14 365.78L964.21 365.78L964.21 367.85L962.14 367.85L962.14 365.78Z' id='c2C6x1oLR'%3E%3C/path%3E%3Cpath d='M795.14 205.78L797.21 205.78L797.21 207.85L795.14 207.85L795.14 205.78Z' id='aEsn0QIR2'%3E%3C/path%3E%3Cpath d='M458.14 341.85L460.21 341.85L460.21 343.91L458.14 343.91L458.14 341.85Z' id='a6hLxCyJR4'%3E%3C/path%3E%3Cpath d='M139.14 443.78L141.21 443.78L141.21 445.85L139.14 445.85L139.14 443.78Z' id='a1t0SXA73l'%3E%3C/path%3E%3Cpath d='M611.14 75.85L613.21 75.85L613.21 77.91L611.14 77.91L611.14 75.85Z' id='cEv7x52Sf'%3E%3C/path%3E%3Cpath d='M1171.14 240.75L1173.21 240.75L1173.21 242.81L1171.14 242.81L1171.14 240.75Z' id='a1P8YKbiJo'%3E%3C/path%3E%3Cpath d='M1478.14 93.78L1480.21 93.78L1480.21 95.85L1478.14 95.85L1478.14 93.78Z' id='achtVNxbU'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cuse xlink:href='%23g1tZJhwf1J' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23a6t1aOnBIB' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23b25hBKJUfT' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23b24PpjP5x' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23aEnRHqgNB' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23c2C6x1oLR' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23aEsn0QIR2' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23a6hLxCyJR4' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23a1t0SXA73l' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23cEv7x52Sf' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23a1P8YKbiJo' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23achtVNxbU' opacity='1' fill='%23ffffff' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
}

img {
    border-radius: 1em;
}

/* ----------------------------------------------
* Generated by Animista on 2020-8-13 15:23:17
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation color-change-2x
* ----------------------------------------
*/
@-webkit-keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
}
  @keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
}

.color-change-2x {
	-webkit-animation: color-change-2x 8s ease-in infinite alternate both;
	        animation: color-change-2x 8s ease-in infinite alternate both;
}