<div class="content">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" autocomplete="on">
        <div class="field">
            <div class="control">
                <input class="input" formControlName="email" type="email" placeholder="Email" autocomplete="username">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" formControlName="password" type="password" placeholder="Password" autocomplete="current-password">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button type="submit" class="button is-fullwidth is-link" [ngClass]="{'is-loading': loading}">
                    <span class="icon is-small"><fa-icon [icon]="faLock" class="fa-white"></fa-icon></span>
                    <span>Login</span>
                </button>
            </div>
        </div>
    </form>
    <div class="field">
        <div class="control is-pulled-right">
            <a (click)="forgotPassword()">Forgot Password ?</a>
        </div>
    </div>
</div>